html {
    scroll-behavior: smooth;
}

.nav-link {
    color: black;
}

.navbar-brand img {
    width: 70px;
}

section:not(#banner,.resposta) {
    min-height: 80vh;
    padding:30px 0;
}
.carousel-inner> div >img {
    height: 85vh;
    min-width: 100%;
}
 
.card > img{
    height: 300px;
}

footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;

}